@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

//Colors:

$color1:rgb(255, 255, 255);
$color2:rgb(0, 0, 0);
$color3:rgba(0, 0, 0, 0.5);
$color4:rgba(0, 0, 0, 0.24);
$color5:rgb(22, 34, 42);
$color6:rgb(58, 96, 115);


//Fonts:
// $myfont:Bitter;
// FontAwesome

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter";
}

$max-width: 80em;

html,
body {
  background-color: $color1;
  font-family: Calibri, sans-serif;
}

.header {
  background-color: $color6;
  height: 200px;
  text-align: center;
  padding-top: 90px;
  color: $color1;
}

#app {
  width: 1400px;
  margin: 35px auto;

  #product {
    .box {
      width: 280px;
      background-color: $color1;
      display: inline-block;
      margin: 0 10px;
      position: relative;
      text-align: center;

      img {
        width: 280px;
        height: 190px;
      }

      h2 {
        margin-left: 20px;
        font-size: 18px;
      }

      .addButton {
        border: solid 1px $color2;
        align-items: center;
        background-color: $color1;
        margin-bottom: 10px;
      }
    }
  }
}

//format cart template-OPTIONAL

#cart {

  #head {
    width: 100%;
    height: 40px;
    display: block;
    background-color: $color6;
    color: $color1;
    h3 {
      display: inline-block;
    }
    #price {
      display: inline-block;
      margin-left: 200px;
    }
    #quantity {
      display: inline-block;
      margin-left: 200px;
    }
    #total {
      display: inline-block;
      float: right;
      margin-right: 10px;
      text-align: right;
    }
  }
  
  .row {
    width: 100%;
    border-bottom: 1px solid $color4;
    // overflow: hidden;
    // padding: 10px 0;
    display: block;
    float: left;

    img {
      float: left;
      width: 50px;
      height: 50px;
      margin-top: 10px;
    }

    h4 {
      float: left;
      margin: 0;
      line-height: 100px;
      margin-left: 20px;
      width: 200px;
    }

    p {
      float: left;
      margin: 0;
      width: 80px;
      line-height: 100px;
      margin-left: 35px;
      text-align: center;
    }

    .qty-minus {
      float: left;
      width: 20px;
      line-height: 100px;
      margin-left: 60px;
      text-align: center;
      cursor: pointer;
    }

    .qty {
      float: left;
      width: 20px;
      line-height: 100px;
      margin-left: 20px;
      text-align: center;
    }

    .qty-plus {
      float: left;
      width: 20px;
      line-height: 100px;
      margin-left: 20px;
      text-align: center;
      cursor: pointer;
    }

    .del {
      float: left;
      width: 30px;
      line-height: 100px;
      margin-left: 40px;
      cursor: pointer;
      text-decoration: underline;
      color: red;
    }

    .totalprice {
      float: right;
      width: 30px;
      line-height: 100px;
      margin-left: 10px;
      text-align: right;
      margin-right: 10px;
    }

    .row p::before,
    .box p::before,
    .totalprice::before {
      content: "$";
    }
  }

  h5 {
    font-size: 1.2rem;
    text-align: right;
  }
}